<h1>{{ title }} habitación</h1>
<div class="container">
  <form class="form-section" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Ingresar número de la habitación</mat-label>
      <input
        type="number"
        matInput
        #input
        placeholder="Numero	de habitación"
        formControlName="roomNumber"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingresar Precio</mat-label>
      <input
        type="number"
        matInput
        #input
        placeholder="Precio"
        formControlName="price"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de habitación</mat-label>
      <mat-select disableRipple formControlName="roomType">
        <mat-option *ngFor="let type of typeRooms" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingresar número de camas</mat-label>
      <input
        type="number"
        matInput
        #input
        placeholder="Numero de camas"
        formControlName="bedsNumber"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hotel</mat-label>
      <mat-select disableRipple formControlName="hotelId">
        <mat-option *ngFor="let hotel of hotels" [value]="hotel.id">{{ hotel.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<section class="buttons">
  <button mat-stroked-button color="primary" routerLink="/rooms">
    Cancelar
  </button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Guardar
  </button>
</section>
