<h1>{{ title }} hotel</h1>
<div class="container">
  <form class="form-section" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Ingresar nombre del hotel</mat-label>
      <input
        matInput
        #input
        placeholder="Nombre de hotel"
        formControlName="name"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingresar Teléfono</mat-label>
      <input
        matInput
        #input
        placeholder="Teléfono"
        formControlName="phoneNumber"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingresar dirección</mat-label>
      <input
        matInput
        #input
        placeholder="Dirección"
        formControlName="address"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingresar email</mat-label>
      <input
        type="email"
        matInput
        #input
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cantidad de habitaciones</mat-label>
      <input
        type="number"
        matInput
        #input
        placeholder="Cantidad de habitaciones"
        formControlName="totalRooms"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Capacidad de hospedaje</mat-label>
      <input
        type="number"
        matInput
        #input
        placeholder="Capacidad de hospedaje"
        formControlName="reserveCapacity"
      />
    </mat-form-field>
  </form>
</div>
<section class="buttons">
  <button mat-stroked-button color="primary" routerLink="/hotels">
    Cancelar
  </button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Guardar
  </button>
</section>
